@model BGF.App.Models.Friends.AddFriendModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>AddFriendModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FriendId" class="control-label"></label>
                <input asp-for="FriendId" class="form-control" />
                <span asp-validation-for="FriendId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

