@model BoardGamesViewModel
@using BGF.App.Core.Entities
@{
    ViewData["Title"] = "Board games";
}

<h1>Board Games</h1>

<div class="form-group">
    <label for="TODO">BGG Username</label>
    <input type="text" name="bggUsername">
</div>
<div class="form-group">
    <label for="TODO">BGG Board Games</label>
    <select class="form-control" id="">
        @foreach (Boardgame boardgame in Model.BggBoardGames)
        {
            <option>@boardgame.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label for="TODO">My Board Games</label>
    <select class="form-control" id="">
        @foreach (Boardgame boardgame in Model.MyBoardGames)
        {
            <option>@boardgame.Name</option>
        }
    </select>
</div>
