@{
    ViewData["Title"] = "Calendar";
}
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <label for="TODO">Add calendar to view upcoming game nights.</label>
    @*<input type="text" name="bggUsername">*@
</div>
<div class="form-group">
    <label for="TODO">Add possibility to setup a suggestion for a  game night and invite friends.</label>
    @*<input type="text" name="bggUsername">*@
</div>
