@{
    ViewData["Title"] = "Friends";
}
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <label for="TODO">Add possibility to add friends by e-mail or similar.</label>
    @*<input type="text" name="bggUsername">*@
</div>
<div class="form-group">
    <label for="TODO">Add possibility to add friends by their BGG username.</label>
    @*<input type="text" name="bggUsername">*@
</div>
