@{
    ViewData["Title"] = "Card Sleeves";
}
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <label for="TODO">Inventory for card sleeves</label>
    @*<input type="text" name="bggUsername">*@
</div>
<div class="form-group">
    <label for="TODO">Inventory of board games which are sleeved</label>
    @*<input type="text" name="bggUsername">*@
</div>
