
@{
    ViewData["Title"] = "Index";
}

<h1>Test</h1>

<a asp-controller="Test" asp-action="UpdateUserCollection">Update user collection from BGG</a><br />
<a asp-controller="Test" asp-action="GetUserBoardgames">Get logged in users boardgames</a>