@{
    ViewData["Title"] = "Välkommen";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Vi arbetar på att bygga ett vertyg för brädspelssällskap som behöver en gemensam plats för att boka spelsessioner.</p>
</div>
